#search-box {
  /* display: flex; */
  margin: 0 auto;
  width: 90%;
  border: 5px solid rgb(69, 90, 133);
  border-radius: 5px;
  background-color: rgb(69, 90, 133);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#search-input {
  width: 100%;
}
input {
  padding: 0px;
}
#search-input:focus {
  width: 100%;
  background-color: rgb(255, 255, 255);
}
#header-text {
  color: rgb(222, 228, 222);
  font-weight: 600;
}
.url-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2px 2px;
  text-align: left !important;
}
body {
  text-align: center;
  width: 375px;
  /* height: 250px; */
  overflow-x: hidden;
  color: #1f1f1e;
  background-color: #343335;
}
h3 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 300px;
  font-size: 30px;
  color: whitesmoke;
  margin: 0px;
}
#current-tabs {
  padding: 2px;
  margin: 1px;
}
a:link {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(189, 186, 186);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
.break {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #263b36;
  height: 2px;
  width: 40%;
  display: flex;
  position: relative;
  top: 0.55em;
  margin: 0.7em;
}
#form-search {
  display: flex;
}
input[type="submit"] {
  padding: 5px 15px;
  background: rgb(7, 11, 46);
  border: 0 none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  /* font: bold; */
  font-weight: 800;
  color: white;

  -webkit-border-radius: 5px;
  border-radius: 0px 5px 5px 0px;
}

/* Scroll bar CSS styles */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(35, 38, 51);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8c7c9;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(206, 182, 47);
  width: 6px;
}
