#search-box {
  /* display: flex; */
  margin: 0 auto;
  width: 90%;
}
#search-input {
  width: 80%;
  margin-right: 6px;
}
#header-text {
  color: rgb(222, 228, 222);
  font-weight: 600;
}
.url-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 2px 2px;
  text-align: left !important;
  /* display: none; */
}
body {
  text-align: center;
  width: 375px;
  /* height: 250px; */
  overflow-x: hidden;
  color: #1f1f1e;
  background-color: #1b1717;
  }
#current-tabs {
  padding: 2px;
  margin: 1px;
}
a:link {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: rgb(189, 186, 186);
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: rgb(222, 228, 222);
  background-color: transparent;
  text-decoration: none;
}
.break {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #263b36;
  height: 2px;
  width: 40%;
  display: flex;
  position: relative;
  top: .55em;
  margin: 0.7em;
}
#form-search {
  display: flex;
}